{% extends "base.html" %}

{% block title %}Media Maid - Welcome Page{% endblock %}

{% block content %}
	<h1 class='red'>Welcome to Media Maid</h1>
	<p>Media Maid is a social media tool that helps 
	you manage your online presence by deleting posts after a specified 
	time limit. (The service is limited to managing Twitter accounts for the time being.)</p>
	<p>The inspiration for this project came from Danah Boyd's blog post 
	"<a href="http://bit.ly/hpvkLp">Risk Reduction Strategies on Facebook</a>".
	In this post, Danah describes how several (very innovative) teens manage 
	their online accounts. In addition to a Facebook "super-logoff" technique, 
	Danah outlines the following strategy:</p>
	<blockquote>"Shamika doesn't deactivate her Facebook profile but she does delete 
	every wall message, status update, and Like shortly after it's posted. She'll 
	post a status update and leave it there until she's ready to post the next one 
	or until she's done with it. Then she'll delete it from her profile. When she's 
	done reading a friend's comment on her page, she'll delete it. She’ll leave a 
	Like up for a few days for her friends to see and then delete it."</blockquote>
	<p>This strategy won't be applicable to everyone, but it is an interesting 
	and technically feasible use case that this site tries to address.</p>
{% endblock %}
